* {
    margin: 0%;
    padding: 0%;
}

/* body */
body {
    background-color: #fff5e8;
    font-family: serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* A VER: SE PUEDE PONER UNA LETRA EXTERNA? POR EJEMPLO ESTA??
    https://www.dafont.com/es/a-day-without-sun.font  */ 
}


/* Header */

header {
    border: #fff5e8 20px solid;
}

.presentacion{
    display: flex;
    justify-content: space-between;
}


.logo {
    width: 100%;
    height: 100%;
    font-style: oblique;  
}
.logo-escrito {
    /* Problemas sin resolver: 
    1- no puedo hacer que el texto me quede en medio del logo (a la derecha)
    2- quitar el formato de hipervinculo */
    display: flex;
    justify-content:space-between;
    flex-direction: row wrap;
    text-indent: 3%;
    font-weight: bold;
    text-decoration-color: #fff5e8;
    padding-left: 3% 3%;
}

.list-group-item {
    display: flex;
    justify-content: flex-end;
}

.list-group-item:hover {
    transform: scale(1.05);
    all: height 2s, width 1s;  
    background-color: grey;}
.menu {
    /* Problemas sin resolver:
    1- quitar el formato de hipervinculo */
    line-height: 150%;
    font-style: oblique;
    text-decoration-color: grey;
    text-align: right;
    list-style: none;
}

.list-group-item {
    background-color: #fff5e8;
    text-decoration: none;
    box-shadow: none;
    text-decoration-color: grey;
}

.list{
    list-style: none;
    text-decoration: none;
    font-style: oblique;
    box-shadow: none;
    text-decoration-color: grey;    
}

hr{
    width: 100%;
    border: 0;
    border-top: 2px solid grey;
    margin: 0%; 
    border-bottom: 2px solid grey;
    height:0;
}
/* Fin del header */
/* Main */

main{
    border-left: #fff5e8 20px  solid;
    border-right:#fff5e8 20px  solid;
}

img {
    width: 100%;
    height: 100%;
}

.muestrario {
    grid-area: muestrario;
}
.muestrario-rubros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:  1% ;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

.rubro {
    width: 100%;
    height: 100%;
    border: #fff5e8 3%  solid;
    border-radius: #fff5e8 3%  solid ;
    margin-top: #fff5e8 3%  solid ;
    margin-block-end:#fff5e8 3%  solid ;;
}

.rubro:hover {
    transform: scale(1.05);
    all: height 2s, width 1s;
    
}

.fin-muestrario{
    width: 3%;
}

.muestrario-objeto{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    justify-content: space-around;
}

.obejto {
    width: 100%;
    height: 100%;
    background-color: #fff5e8;
}

.tiendaonline {
    width: 100%;
    text-align: center;
    font-weight: bold;      
}

.tiendaonline:hover {
    transform: scale(1.05);
    all: height 2s, width 1s;
}

h1 {
    font-style: oblique;
    box-shadow: none;
    color: grey;
    text-decoration-color: grey;
    text-align: center;
    list-style: none;
    
}
/* Fin del main */
/* Footer */
footer {
    border-left: #fff5e8 20px  solid;
    border-right:#fff5e8 20px  solid;
}

.footer-social{
    display: flex;
    justify-content: space-between;
}
.nosotros {
    margin: 2px;
}
.nosotros-titulo{
    font-weight: bold;
    text-align: center;
}

.nosotros-descripcion{
    /* Problemas sin resolver: 
    1- no se como hacer el borde mas redondeado
    2- no se como ajustar mejor el texto al recuadro */
    
    border: 2px solid grey;
    width: 300px;
    height: 70px;
    text-align: center;
    font-style: oblique;
    padding: 1%;
}

.social { 
    /* Problemas sin resolver: 
    1- no pude sacar el formato de hipervinculo
    2- no pude sacarle el fondo a las imagenes (me falta pulirlo bastante) */ 
    margin: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: unset;
    text-align: right;
    list-style: none;
    font-style: oblique;
    color: grey;
    text-decoration-color: grey;     


}

.social-icono{  
    max-height: 15%;
    text-decoration: none;
    text-align: right;
}

/* Fin del footer */